<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Tags</title>
  </head>

  <body>
    <h1>
 <%= title %>
    </h1>
    <p>
      Current second:
      <!-- Current second goes here -->
      <%= seconds %>
    </p>

 <ul>
  <li>
    <%- "If seconds are even show list is true"%>
  </li>
  <p>   <%- "seconds are odd so no items to display "%></p>
 </ul>
      <!-- HTML content goes here -->
    </p>

    <!-- Footer goes here -->
    <%-include("footer.ejs")%>
  </body>
</html>

 